<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include masthead.html %}
    <section class="main">
        {% assign mydata = site.data.movie-ratings %}
        {% if page.dataset == "movies" %}
            {% assign ratings = site.data.movie-ratings | group_by: 'Rating' %}
            {% assign ratingsSorted = (ratings | sort:'name') | reverse %}
        {% elsif page.dataset == "tv shows" %}
            {% assign mydata = site.data.tv-ratings %}
            {% assign ratings = site.data.tv-ratings | group_by: 'Rating' %}
            {% assign ratingsSorted = (ratings | sort:'name') | reverse %}
        {% elsif page.dataset == "books" %}
            {% assign mydata = site.data.book-ratings %}
            {% assign ratings = site.data.book-ratings | group_by: 'Rating' %}
            {% assign ratingsSorted = (ratings | sort:'name') | reverse %}
        {% endif %}

        <div class="movie-top">
            <p class="total">Total {{ page.dataset }}: {{ mydata.size }}</p>

            <div class="vertical-line"></div>

            <div class="list">
                <p class="top5">Top 5:</p>
                <div class="break"></div>
                {% assign top5Category = ratingsSorted[0].items | sort:'Name' %}

                {% for row in top5Category %}
                    <div class="top-5-item rating-{{ row.Rating | strip }}">
                        <span class="name">{{ row.Name }}</span>
                        <span class="rating">Top 5 🌟</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="filter-wrap"><input type="text" id="filter" onkeyup="filter()" placeholder="Search..." /></div>

        <div class="sorting">
            <label>Sort:</label>

            <input 
                type="radio" 
                name="order" 
                id="orderChronologicallyNewestOldest"
                onclick="orderChronologicallyNewestOldest()" 
                checked
            >
            <label 
                class="sort-radio-button-label"
                for="orderChronologicallyNewestOldest"
            >
                Chronological (Newest - Oldest)
            </label>

            <input 
                type="radio" 
                name="order" 
                id="orderChronologicallyOldestNewest"
                class="sortRadioButton" 
                onclick="orderChronologicallyOldestNewest()" 
            >
            <label 
                class="sort-radio-button-label" 
                for="orderChronologicallyOldestNewest"
            >
                Chronological (Oldest - Newest)
            </label>

            <input 
                type="radio"
                name="order"  
                id="orderAlphabetically"
                class="sortRadioButton" 
                onclick="orderAlphabetically()" 
            >
            <label 
                class="sort-radio-button-label"
                for="orderAlphabetically"
            >
                Alphabetical
            </label>

            <input 
                type="radio" 
                name="order" 
                id="orderGrouped"
                class="sortRadioButton" 
                onclick="orderGrouped()"
            >
            <label 
                class="sort-radio-button-label"
                for="orderGrouped"
            >
                Ratings Grouped
            </label>
        </div>

        <div>
            <div id="chronological-newest-oldest-list">
                <div class="list">
                    {% assign myDataReversed = (mydata | reverse) %}
                    {% for row in myDataReversed %}    
                        {% if row.Rating == " 1" %}
                            {% assign ratingValue = "Bad 👎" %}
                        {% elsif row.Rating == " 2" %}
                            {% assign ratingValue = "Alright 👋" %}
                        {% elsif row.Rating == " 3" %}
                            {% assign ratingValue = "Good 👍" %}
                        {% elsif row.Rating == " 4" %}
                            {% assign ratingValue = "Love ❤️" %}
                        {% elsif row.Rating == " 5" %}
                            {% assign ratingValue = "Top 5 🌟" %}
                        {% endif %}
                        <div class="item rating-{{ row.Rating | strip }}">
                            <span class="name">{{ row.Name }}</span>
                            <span class="rating">{{ ratingValue }}</span>
                        </div>
                    {% endfor %}
                    {% assign counter = counter | plus:1 %}
                    {% assign rating_array = rating_array | push: counter %}
                </div>
            </div>

            <div id="chronological-oldest-newest-list" style="display:none;">
                <div class="list">
                    {% for row in mydata %}    
                        {% if row.Rating == " 1" %}
                            {% assign ratingValue = "Bad 👎" %}
                        {% elsif row.Rating == " 2" %}
                            {% assign ratingValue = "Alright 👋" %}
                        {% elsif row.Rating == " 3" %}
                            {% assign ratingValue = "Good 👍" %}
                        {% elsif row.Rating == " 4" %}
                            {% assign ratingValue = "Love ❤️" %}
                        {% elsif row.Rating == " 5" %}
                            {% assign ratingValue = "Top 5 🌟" %}
                        {% endif %}
                        <div class="item rating-{{ row.Rating | strip }}">
                            <span class="name">{{ row.Name }}</span>
                            <span class="rating">{{ ratingValue }}</span>
                        </div>
                    {% endfor %}
                    {% assign counter = counter | plus:1 %}
                    {% assign rating_array = rating_array | push: counter %}
                </div>
            </div>

            <div id="alphabetical-list" style="display:none;">
                <div class="list">
                    {% assign mydataAlphabetical = mydata | sort:'Name' %}
                    {% for row in mydataAlphabetical %}   
                        {% if row.Rating == " 1" %}
                            {% assign ratingValue = "Bad 👎" %}
                        {% elsif row.Rating == " 2" %}
                            {% assign ratingValue = "Alright 👋" %}
                        {% elsif row.Rating == " 3" %}
                            {% assign ratingValue = "Good 👍" %}
                        {% elsif row.Rating == " 4" %}
                            {% assign ratingValue = "Love ❤️" %}
                        {% elsif row.Rating == " 5" %}
                            {% assign ratingValue = "Top 5 🌟" %}
                        {% endif %}
                        <div class="item rating-{{ row.Rating | strip }}">
                            <span class="name">{{ row.Name }}</span>
                            <span class="rating">{{ ratingValue }}</span>
                        </div>
                    {% endfor %}
                    {% assign counter = counter | plus:1 %}
                    {% assign rating_array = rating_array | push: counter %}
                </div>
            </div>

            <div id="grouped-list" style="display:none;">
                <div class="list">
                    {% assign lastRating = " 4" %}
                    {% for r in ratingsSorted %}
                        {% assign ratingsTitleSorted = r.items | sort:'Name' %}
                        {% for row in ratingsTitleSorted %}
                            {% assign currentRating = row.Rating %}
                            {% if row.Rating == " 1" %}
                                {% assign ratingValue = "Bad 👎" %}
                            {% elsif row.Rating == " 2" %}
                                {% assign ratingValue = "Alright 👋" %}
                            {% elsif row.Rating == " 3" %}
                                {% assign ratingValue = "Good 👍" %}
                            {% elsif row.Rating == " 4" %}
                                {% assign ratingValue = "Love ❤️" %}
                            {% elsif row.Rating == " 5" %}
                                {% assign ratingValue = "Top 5 🌟" %}
                            {% endif %}
                            {% if lastRating != row.Rating %}
                                <div class="break"></div>
                                {% assign lastRating = row.Rating %}
                            {% endif %}
                            <div class="item rating-{{ row.Rating | strip }}">
                                <span class="name">{{ row.Name }}</span>
                                <span class="rating">{{ ratingValue }}</span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% assign counter = counter | plus:1 %}
                    {% assign rating_array = rating_array | push: counter %}
                </div>
            </div>
        </div>
        <div>
            <p class="bottom-rating-list">
                {% assign love_rating = rating_array[0] | minus:1 %}
                Love: {{ love_rating }} | Good: {{ rating_array[1] }} | Alright: {{ rating_array[2] }} | Bad: {{ rating_array[3] }}
            </p>
        </div>
    </section>

    <script>
        function orderChronologicallyNewestOldest() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "none";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "none";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "none";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "";
        }

        function orderChronologicallyOldestNewest() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "none";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "none";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "none";
        }

        function orderAlphabetically() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "none";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "none";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "none";
        }
        
        function orderGrouped() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "none";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "none";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "none";
        }
        
        function filter() {
            const filterValue = document.getElementById('filter').value.toUpperCase();
            const items = document.getElementsByClassName('item');

            for (i = 0; i < items.length; i++) {
                const item = items[i].children[0].textContent || items[i].children[0].innerText;
                if (item.toUpperCase().indexOf(filterValue) > -1) {
                    items[i].style.display = "";
                } else {
                    items[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
