<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include masthead.html %}
    <section class="main">
        {% assign mydata = site.data.movie-ratings %}
        {% if page.dataset == "movies" %}
            {% assign ratings = site.data.movie-ratings | group_by: 'Rating' %}
            {% assign ratingsSorted = (ratings | sort:'name') | reverse %}
        {% elsif page.dataset == "tv shows" %}
            {% assign mydata = site.data.tv-ratings %}
            {% assign ratings = site.data.tv-ratings | group_by: 'Rating' %}
            {% assign ratingsSorted = (ratings | sort:'name') | reverse %}
        {% endif %}

        <div class="movie-top">
            <p class="total">Total {{ page.dataset }}: {{ mydata.size }}</p>

            {% if page.dataset == "movies" %}
                <div class="vertical-line"></div>

                <div class="list">
                    <p class="last5">Top 5 Movies</p>
                    <div class="break"></div>
                    <span class="rating">{{ ratingsSorted }}</span>

                    {% for r in ratingsSorted %}
                        <span class="rating">{{ r }}</span>
                        {% assign ratingsSortedItems = r.items | sort:'Name' %}
                        {% for i in (0..4) %}
                            <div class="last-5-item rating-{{ movies[i].Rating | strip }}">
                                <span class="name">{{ ratingsSortedItems[i].Name }}</span>
                                <span class="rating">Top 5 🌟</span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <p class="filter-wrap"><input type="text" id="filter" onkeyup="filter()" placeholder="Search..." /></p>
        <p>
            <input 
                type="radio" 
                id="chronologicalNewestOldest" 
                name="order" 
                value="chronologicalNewestOldest" 
                onclick="orderChronologicallyNewestOldest()" 
                checked
            >
            <label for="chronologicalNewestOldest">Chronological (Newest - Oldest)</label><br>

            <input 
                type="radio" 
                id="chronologicalOldestNewest" 
                name="order" 
                value="chronologicalOldestNewest" 
                onclick="orderChronologicallyOldestNewest()" 
            >
            <label for="chronologicalOldestNewest">Chronological (Oldest - Newest)</label><br>

            <input 
                type="radio" 
                id="alphabetically" 
                name="order" 
                value="alphabetically" 
                onclick="orderAlphabetically()" 
            >
            <label for="alphabetically">Alphabetical</label><br>

            <input 
                type="radio" 
                id="grouped" 
                name="order" 
                value="grouped" 
                onclick="orderGrouped()"
                >
            <label for="grouped">Ratings Grouped</label><br>
        </p>

        <div>
            <div id="chronological-newest-oldest-list">
                <div class="list">
                    {% assign myDataReversed = (mydata | reverse) %}
                    {% for row in myDataReversed %}    
                        {% if row.Rating == " 1" %}
                            {% assign ratingValue = "Bad 👎" %}
                        {% elsif row.Rating == " 2" %}
                            {% assign ratingValue = "Alright 👋" %}
                        {% elsif row.Rating == " 3" %}
                            {% assign ratingValue = "Good 👍" %}
                        {% elsif row.Rating == " 4" %}
                            {% assign ratingValue = "Love ❤️" %}
                        {% elsif row.Rating == " 5" %}
                            {% assign ratingValue = "Top 5 🌟" %}
                        {% endif %}
                        <div class="item rating-{{ row.Rating | strip }}">
                            <span class="name">{{ row.Name }}</span>
                            <span class="rating">{{ ratingValue }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="chronological-oldest-newest-list" style="display:none;">
                <div class="list">
                    {% for row in mydata %}    
                        {% if row.Rating == " 1" %}
                            {% assign ratingValue = "Bad 👎" %}
                        {% elsif row.Rating == " 2" %}
                            {% assign ratingValue = "Alright 👋" %}
                        {% elsif row.Rating == " 3" %}
                            {% assign ratingValue = "Good 👍" %}
                        {% elsif row.Rating == " 4" %}
                            {% assign ratingValue = "Love ❤️" %}
                        {% elsif row.Rating == " 5" %}
                            {% assign ratingValue = "Top 5 🌟" %}
                        {% endif %}
                        <div class="item rating-{{ row.Rating | strip }}">
                            <span class="name">{{ row.Name }}</span>
                            <span class="rating">{{ ratingValue }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="alphabetical-list" style="display:none;">
                <div class="list">
                    {% assign mydataAlphabetical = mydata | sort:'Name' %}
                    {% for row in mydataAlphabetical %}   
                        {% if row.Rating == " 1" %}
                            {% assign ratingValue = "Bad 👎" %}
                        {% elsif row.Rating == " 2" %}
                            {% assign ratingValue = "Alright 👋" %}
                        {% elsif row.Rating == " 3" %}
                            {% assign ratingValue = "Good 👍" %}
                        {% elsif row.Rating == " 4" %}
                            {% assign ratingValue = "Love ❤️" %}
                        {% elsif row.Rating == " 5" %}
                            {% assign ratingValue = "Top 5 🌟" %}
                        {% endif %}
                        <div class="item rating-{{ row.Rating | strip }}">
                            <span class="name">{{ row.Name }}</span>
                            <span class="rating">{{ ratingValue }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="grouped-list" style="display:none;">
                <div class="list">
                    {% assign lastRating = " 4" %}
                    {% for r in ratingsSorted %}
                        {% assign ratingsTitleSorted = r.items | sort:'Name' %}
                        {% for row in ratingsTitleSorted %}
                            {% assign currentRating = row.Rating %}
                            {% if row.Rating == " 1" %}
                                {% assign ratingValue = "Bad 👎" %}
                            {% elsif row.Rating == " 2" %}
                                {% assign ratingValue = "Alright 👋" %}
                            {% elsif row.Rating == " 3" %}
                                {% assign ratingValue = "Good 👍" %}
                            {% elsif row.Rating == " 4" %}
                                {% assign ratingValue = "Love ❤️" %}
                            {% elsif row.Rating == " 5" %}
                                {% assign ratingValue = "Top 5 🌟" %}
                            {% endif %}
                            {% if lastRating != row.Rating %}
                                <div class="break"></div>
                                {% assign lastRating = row.Rating %}
                            {% endif %}
                            <div class="item rating-{{ row.Rating | strip }}">
                                <span class="name">{{ row.Name }}</span>
                                <span class="rating">{{ ratingValue }}</span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <script>
        function orderChronologicallyNewestOldest() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "none";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "none";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "none";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "";
        }

        function orderChronologicallyOldestNewest() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "none";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "none";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "none";
        }

        function orderAlphabetically() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "none";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "none";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "none";
        }
        
        function orderGrouped() {
            const groupedList = document.getElementById('grouped-list');
            groupedList.style.display = "";

            const alphabeticalList = document.getElementById('alphabetical-list');
            alphabeticalList.style.display = "none";

            const chronologicalOldestNewestList = document.getElementById('chronological-oldest-newest-list');
            chronologicalOldestNewestList.style.display = "none";

            const chronologicalNewestOldestList = document.getElementById('chronological-newest-oldest-list');
            chronologicalNewestOldestList.style.display = "none";
        }
        
        function filter() {
            const filterValue = document.getElementById('filter').value.toUpperCase();
            const items = document.getElementsByClassName('item');

            for (i = 0; i < items.length; i++) {
                const item = items[i].children[0].textContent || items[i].children[0].innerText;
                if (item.toUpperCase().indexOf(filterValue) > -1) {
                    items[i].style.display = "";
                } else {
                    items[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
